{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Додати видавництво</title>
      <link rel="stylesheet" href="{% static 'css/book.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <p class="title2">Додати видавництво</p>
        <input required="" placeholder="Назва видавництва" type="text" id="name_publisher" name="name_publisher" class="input">
        <button type="submit" class="submit">Зберегти</button>
        <p class="message"><a href="{% url 'tools' %}">Назад</a></p>
    </form>
</body>
</html>
