{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Підтвердження електронної пошти</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body class="body_login">
  <div class="container">
    <img class="logo_log" src="{% static 'img/logo.png' %}" alt="Лого" />

    <form method="post">
      {% csrf_token %}



      <!-- Поле для вводу коду підтвердження -->
      <div class="form-field">

        <label class="label_login" for="id_code">{{ form.code.label }}</label>
          <p class="new_label2">Ми надіслали вам код підтвердження на вашу електронну пошту. Введіть його нижче:</p>
        {{ form.code }}

      </div>

      <button class="button_llr" type="submit" id="submitBtn">Підтвердити</button>
    </form>
  </div>
</body>
</html>
