{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профіль</title>
    <link rel="stylesheet" href="{% static 'css/account.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>

<div class="navigation-card">
    {% if user.type_user == "reader" %}
        <a href="{% url 'create_book_request' %}" class="tab" title="Створити запит на книгу"><i class="fas fa-pen-square"></i></a>
        <a href="{% url 'user_book_requests' %}" class="tab" title="Мої запити на книги"><i class="fas fa-clock"></i></a>
        <a href="{% url 'user_history' %}" class="tab" title="Історія запитів"><i class="fas fa-list"></i></a>
        <a href="{% url 'user_notifications' %}" class="tab" title="Сповіщення"><i class="fas fa-bell"></i></a>
    {% else %}
        <a href="{% url 'tools' %}" class="tab" title="Інструменти"><i class="fas fa-plus-circle"></i></a>
        <a href="{% url 'pending_book_requests' %}" class="tab" title="Очікувані запити"><i class="fas fa-clock"></i></a>
    {% endif %}
    <a href="{% url 'logout' %}" class="tab" title="Вихід"><i class="fas fa-sign-out-alt"></i></a>
</div>


<div class="profile-container">
    <div class="profile-card">
        <h2>Профіль користувача</h2>
        <p class="label1"><strong>Ім'я:</strong> {{ user.first_name }}</p>
        <p class="label1"><strong>Прізвище:</strong> {{ user.last_name }}</p>
        <p class="label1"><strong>Email:</strong> {{ user.email }}</p>
        <p class="label1"><strong>Телефон:</strong> {{ user.phone }}</p>
        <p class="label1"><strong>Тип користувача:</strong> {{ user.type_user }}</p>

        {% if user.type_user == "reader" %}
            <p class="label1"><strong>Факультет:</strong> {{ user.readerspeciality.faculty }}</p>
            <p class="label1"><strong>Спеціальність:</strong> {{ user.readerspeciality.speciality }}</p>
        {% endif %}
    </div>
</div>

</body>
</html>
